@font-face {
  font-family: "typo";
  src: url("D:/Documents/BeCode/Exe/ReproducingLayout/reproducing-layout/resources/bahnschrift.ttf");
}

/* VARIABLES */
/*---------------------------------------------------- SASS + CSS --------------------------------------------------------------*/
body {
  font-family: "typo", sans-serif;
  font-size: 1em;
}

.display_flex, .principale .timeComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principale {
  width: 400px;
  margin: auto;
  border: 0.1px solid #e0e0e0;
  overflow: hidden;
}

.principale:hover {
  border: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.principale:hover .principale__div1__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  overflow: hidden;
}

.principale:hover .principale__div2__photoWord {
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.principale:hover .principale__div2__divText {
  overflow: visible;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.principale__div1 {
  margin-bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.principale__div1__img {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
}

.principale__div1__date {
  text-align: center;
  margin-bottom: 0;
  position: absolute;
}

.principale__div1__date span {
  width: 45px;
  height: 45px;
  position: absolute;
  top: -390px;
  left: 330px;
  background-color: #ff6600;
  border-radius: 50%;
  z-index: 1;
}

.principale__div2 {
  position: relative;
  z-index: 1;
  background-color: white;
}

.principale__div2__photoWord {
  position: absolute;
  background-color: #9bbbff;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  top: -64px;
  left: 0px;
  z-index: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.principale__div2__divText {
  background-color: white;
  padding: 10px 45px 0 45px;
  position: relative;
  overflow: hidden;
  height: 105px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.principale .display_flex_timecomments, .principale .timeComments__time, .principale .timeComments__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.principale .timeComments {
  gap: 35px;
  color: #e0e0e0;
  padding: 0 45px 45px 45px;
  margin-top: 0;
}

.principale .timeComments__time__icone, .principale .timeComments__comments__icone {
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

/*---------------------------------------------------------- CSS ANIMATION ------------------------------------------------------------*/
.btns {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 50px;
  margin: 100px auto 50px auto;
  background-color: black;
}

.base_custom_btn, .btns__btn1, .btns__btn2, .btns__btn3 {
  width: 250px;
  height: 50px;
  color: white;
  background-color: black;
  border: 7px solid white;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.animation, .btns__btn1:hover, .btns__btn2:hover, .btns__btn3:hover {
  background-color: white;
  color: black;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btns__btn2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btns__btn2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btns__btn3 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.btns__btn3:hover {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
}
/*# sourceMappingURL=style.css.map */