@font-face {
    font-family: "typo";
    src: url("D:/Documents/BeCode/Exe/ReproducingLayout/reproducing-layout/resources/bahnschrift.ttf");
}


/* VARIABLES */


$color1: rgb(255, 102, 0);
$color2: rgb(155, 187, 255);
$colorWhite: white;
$colorBlack: black;
$colorGrey: rgb(224, 224, 224);


/*---------------------------------------------------- SASS + CSS --------------------------------------------------------------*/


body{
    font-family: "typo", sans-serif;
    font-size: 1em;
}

.display_flex{
    display: flex;
}

.display_flex_timecomments{
    display: flex;
    gap: 8px;
    align-items: center;
}

.principale{
    width: 400px;
    margin: auto;
    border: 0.1px solid $colorGrey;

    &:hover{
        border: none;
        box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__div1{
        margin-bottom: 0;
        .date{
            text-align: center;
            margin-bottom: 0;
            position: relative;
            span{
                width: 45px;
                height: 45px;
                position: absolute;
                top: -390px;
                left: 330px;
                background-color: $color1;
                border-radius: 50%;
                z-index: 1;
            }
        }
    }

    &__div2{
        position: relative;

        .photoWord{
           position: absolute;
           background-color: $color2;
           text-align: center;
           width: fit-content;
           height: fit-content;
           padding: 15px;
           top: -84px;
        }

        &__divText{
            background-color: $colorWhite;
            padding: 10px 45px 0 45px;
            z-index: 1;
            position: relative;
            top

            p{
                text-align: justify;
            }
        }
    }

    .timeComments{
        @extend .display_flex;
        gap: 35px;
        color: $colorGrey;
        padding: 0 45px 45px 45px;
        margin-top: 0;
        z-index: 1;

        &__time, &__comments{
            @extend .display_flex_timecomments;
            &__icone{
                filter: grayscale(1);
            }
        }
    }
}


/*---------------------------------------------------------- CSS ANIMATION ------------------------------------------------------------*/


.btns{
    height: fit-content;
    width: fit-content;
    padding: 50px;
    margin: 100px auto 50px auto;
    background-color: $colorBlack;
}

.base_custom_btn{
    width: 250px;
    height: 50px;
    color: $colorWhite;
    background-color: $colorBlack;
    border: 7px solid $colorWhite;
    cursor: pointer;
    transition: all 0.4s ease-in-out;    
}

.animation{
    background-color: $colorWhite;
    color: $colorBlack;
    transition: all 0.4s ease-in-out;
}

.btns{
    &__btn1{
        @extend .base_custom_btn;
        
        &:hover{
            @extend .animation;
        }
    }

    &__btn2{
        @extend .base_custom_btn;
        transform: scale(1);

        &:hover{
            @extend .animation;
            transform: scale(1.2);
        }
    }

    &__btn3{
        @extend .base_custom_btn;
        transform: translateX(0px);

        &:hover{
            @extend .animation;
            transform: translateX(35px);
        }
    }
}