@font-face {
    font-family: "typo";
    src: url("D:/Documents/BeCode/Exe/ReproducingLayout/reproducing-layout/resources/bahnschrift.ttf");
}

body{
    font-family: "typo", sans-serif;
    font-size: 1em;
}